# 这个是配置文件的版本，不同的版本号声明方式会有细微的不同
version: '3.7'
services:
  docker_compose_blog_server:
    # docker构建镜像
    build:
      context: .
      dockerfile: Dockerfile
    # docker启动的服务名
    container_name: docker_container_blog_server
    # 启动服务依赖的镜像名
    image: docker_image_blog_server
    depends_on:
      - docker_compose_blog_mongodb
    # 启动服务时将服务的7001端口对外映射到7001端口
    ports:
      - 7001:7001
    # 重启
    restart: always
    networks:
      - docker_network_server
  docker_compose_blog_mongodb:
    image: mongo
    container_name: docker_container_blog_mongodb
    # ports:
    #   - '4444:27017'
    volumes:
      - /data/mongo/db:/data/db
      - $PWD/mongo-entrypoint:/docker-entrypoint-initdb.d
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    command: mongod
    restart: always
    networks:
      - docker_network_server
networks:
  docker_network_server:
    driver: bridge
